/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #fff;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #333;
  margin: .75em 0;
  padding: 0;
}
/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
  width: 50%;
  height: 250px;
  font-weight: 100;
  background-color: transparent;
  color: #fff;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
html {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  min-height: 100%;
}
header, main, footer {
  clear: both;
  margin-bottom: 1.5em;
  width: 100%;}
header {
  animation: fadeIn ease-in .75s;
}
main {
  animation: fadeIn ease-in 1.25s;
}
footer {
  animation: fadeIn ease-in 1.5s;
}
.header-fade {
  animation: fadeIn ease-in 1.5s;
}
footer {
  margin: 0;
}
/* #283a50, #111111 */
body {
  background-color: #090909;
  color: #fff;
  padding: 1.5em;
}
main {
  height: 90%;
  align-items: stretch;
}
.fill-height {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5em;
  height: 100%;
  align-items: stretch;
  animation: fadeIn ease-in .5s;
}
.fill-height > div {
  flex: 1 100%;
  display: flex;
  flex-direction: row;
}
div {
  box-sizing: border-box;
  background-color: #111;
  padding: 1em;
  animation: fadeIn ease-in .5s;
}
span {
  color: #ddd;
  min-width: 300px;
  overflow: hidden;
}
#testing pre {
  padding: 1em 2em;
}
pre {
  font-size: .85em;
  padding: .5em;
  background-color: rgba(0,0,0,.25);
  border-radius: 5px;
}
.who-when {
  min-width: 20%;
}
.flex-span, .flex-span-2, .flex-span-og {
  display: flex;
  gap: 2.5em;
  align-items: stretch;
  margin-bottom: 2em;
  padding-bottom: 2em;
}
.col-1 {
}
.col-2 {
  flex-grow: 2;
}
.calculated * {
  display: none;
}
.calculated::after {
  content: "Notes: \A\A - Enter up to three timestamps to compare to a fourth timestamp and `now`. \A\A - A snapshot will be generated at the time of calculation to compare to `now`. \A\A - `Test Data` generates random timestamps within a limited range. \A\A - `Convert date to unix` converts to 12:00:00 AM in your local timezone. Converted timestamp is populated as the `Compare to timestamp` input. This may be overitten with test data.";
  white-space: pre-wrap;
}
.calculated-on {
  display: flex;
  animation: fadeIn ease-in 1s;
}
.disclaimer {
  font-size: .85em;
}
a { 
  color: #aaa;
  text-decoration: underline dashed;
  text-decoration-color: #6f90b6;
}
a[type="button"],input[type="button"] {
  cursor: pointer;
}
p {
  margin: .25em 0;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
  margin: .5em 0;
}
h1 {
  font-size: 1.35em;
  text-transform: uppercase;
}
h2 {
  font-size: 1.25em;
}
h3 {
  font-size: 1.1em;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 1em;
}
.highlight {
  background-color:rgb(255,211,11,.75);
  color: #111;
  font-weight: 400;
  width: fit-content;
  padding: 0 1px;
}
.highlight-1 {
  background-color:rgb(255,211,11,1);
  color: #111;
  font-weight: 400;
  width: fit-content;
}

.highlight-2 {
  background-color: transparent;
}
sup {
  color: #aaa;
}
.grid {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0;
}
.grid-left {
  flex: 1;
  padding: .5em;
}
.grid-right {
  flex: 1;
  padding:  .5em;
}
.separator {
  color: #aaa;
}
.notes {
  font-size: .85em;
}
input {
  border-radius: 5px;
}
input {
  font-weight: 100;
}
input[type="number"], input[type="date"] {
  background-color: #111;
  border: 1px solid #aaa;
  color: #fff;
  display:  inline-block;
  height: 1.5em;
  margin: .25em .25em .5em;
  padding: .25em;
  position: relative;
}
input {
  width: 150px;
}
input[type="button"] {
  background-color: #111;
  border: 1px solid #fff;
  color: #fff;
  margin: .25em .25em .5em;
  padding: .35em .75em;
}
.ts-submit {
  margin-top: 1em;
}
select {
  background-color: #111;
  border: 1px solid #111;
  color: #fff;
  font-weight: 300;
}
option {
  height: 2em !important;
  padding: 1em !important;
}
ul {
  margin: 0 0 2em;
}
li p {
  line-height: 1.25em;
}
strong {
  font-weight: 300;
}
.nodisplay {
  display: none;
}
ins {
  background-color: #c6ffc6;
  text-decoration: none;
}
del {
  background-color: #ffc6c6;
}
@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}
@keyframes fadeOUT {
  0% {opacity:1;}
  100% {opacity:0;}
}
/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

